/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/.qmake.stash
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/CallingCppFromQml.exe
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/cppworker.o
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/main.o
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cppworker.cpp
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_cppworker.o
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/moc_predefs.h
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.cpp
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/debug/qrc_qml.o
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Debug
/CallingCppFromQml/build-CallingCppFromQml-Desktop_Qt_5_12_3_MinGW_32_bit-Debug/Makefile.Release
/CallingCppFromQml/CallingCppFromQml/CallingCppFromQml.pro.user
/CallingCppFromQml/CallingCppFromQml/cppworker.h.WgfFXH
